@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/*
 id : 100
태그 : 10
class : 1

css오버라이딩은 
#상위태그의 하위태그를 변화시키면 가능.
 */

html, body {
	margin: 0px;
	padding: 0px;
}

#header_wrap{
	text-align: center;
}

.content{
	height: 400px;
	text-align: center;
	opacity: 0.6;
}
.couple{
	width: 800px;
	height: 400px;
}


.login-btn{
	border: none;
	outline: none;
	color: skyblue;
	font-family: 'Jeju Gothic', cursive;
	font-size: small;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 20px;
	padding-bottom: 0px;
	background: white;
}

.login-btn:hover{
	color: darkviolet;
	cursor: pointer;
}

.logo{
	height: 100px;
}

#menu2 > span > img{
	width : 100px;
	height : 100px;
}

p {
	font-style: italic;
	font-weight: bold;
}