style>body {
	margin: 0;
	padding: 0;
	font: 12pt "Tahoma";
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.page {
	width: 21cm;
	min-height: 29.7cm;
	padding: 2cm;
	margin: 1cm auto;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
	padding: 1cm;
	height: 256mm;
}

@page {
	size: A4 landscape;
	margin: 0;
	/*size: landscape;*/
}

@media print {
	.page {
		margin: 0;
		border: initial;
		border-radius: initial;
		width: initial;
		min-height: initial;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
	}
}

#canvas{
width : 21cm;
min-height : 15cm;

border: 1px solid #d3d3d3;
clear: none;
float: none;
align-content: center;

}