<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<!-- config파일 작성 시 태그 순서를 지켜주세요
properties?, 
settings?, 
typeAliases?, 
typeHandlers?, 
objectFactory?, 
objectWrapperFactory?, 
reflectorFactory?, 
plugins?, 
environments?,
databaseIdProvider?, 
mappers? 
-->

<!-- null값과 false가 들어갈 수 있게 허용해주는 setting -->
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.update.semi.sduser.dto.SduserDto" alias="sduserDto"/>
	</typeAliases>

	<mappers>
		<mapper resource="/mybatis/sduser-mapper.xml"/>
	</mappers>

</configuration>
